<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">
<meta charset="UTF-8">
<head>
    <title>New Player</title>
</head>
<body>
<h1>Add Player</h1>

<form th:action="@{/saveplayer}" th:object="${player}" method="post">
    <label>Username:</label>
    <input type="text" th:field="*{username}" required /><br><br>

    <label>Level:</label>
    <input type="number" th:field="*{level}" required /><br><br>

    <button type="submit">Salvar</button>
</form>

<p th:if="${param.success}">✅ Player Added!!</p>
</body>
</html>
