<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">
<meta charset="UTF-8">
<head>
    <title>All Players</title>
</head>
<body>
<h1>All Players</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Level</th>
    </tr>
    <tr th:each="players : ${players}">
        <td th:text="${players.id}"></td>
        <td th:text="${players.username}"></td>
        <td th:text="${players.level}"></td>
    </tr>
</table>
</body>
</html>
