<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">
<meta charset="UTF-8">
<head>
    <title>Main Page</title>
</head>
<body>

<form th:action="@{/getallgames}">
    <input type="submit" value="All Games"/>
</form>

<form th:action="@{/addgame}">
    <input type="submit" value="Add Game"/>
</form>

<form th:action="@{/getallplayers}">
    <input type="submit" value="All Players"/>
</form>

<form th:action="@{/addplayer}">
    <input type="submit" value="Add Player"/>
</form>

<form th:action="@{/getallscores}">
    <input type="submit" value="All Scores"/>
</form>

<form th:action="@{/addscore}">
    <input type="submit" value="Add Score"/>
</form>

</body>
</html>
